::-webkit-scrollbar {
    display: none;
    width: 0;
}

body {
    background-image: url('./img/background.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    text-align: justify;
}

#profile-img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 255, 0.3);
}

#profile-img-div #profile-img:hover {
    transform: scale(1.2, 1.2);
    transition: transform 2s;
}

#header-intro {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#header-intro h1, #header-intro h2 {
    text-shadow: 2px 2px #000;
}

@media (max-width: 768px) {
    #profile-img {
        max-width: 150px;
        max-height: 150px;
    }

    #profile-img-div {
        height: 40vh;
        width: 100%;
        border-bottom: 1px dotted #fff;
        border-left: 1px dotted #fff;
        border-right: 1px dotted #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    #profile-img-div #profile-img:hover {
        transform: scale(1.4, 1.4);
        transition: transform 2s;
    }

    #header-intro {
        height: 150px;
        align-items: center;
    }

    h4 {
        text-align: center;
    }

    p {
        font-size: 12px;
    }
}

#info {
    background-color: #fff;
}

#skills p {
    width: 175px;
    padding: 5px;
    color: #fff;
    background-color: rgba(0, 0, 255, 0.5);
    text-align: center;
    border-radius: 17px;
}

#skills p:hover {
    background-color: rgba(0, 0, 255, 0.1);
    color: #000;
}

#blog {
    background-color: #fff;
}

@media (max-width: 768px) {
    #blog .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }
}

#technologies {
    background-color: rgba(0, 0, 255, 0.5);
}

#technologies p {
    width: 175px;
    padding: 3px;
    margin: 3px;
    color: #000;
    background-color: #fff;
    text-align: center;
    border-radius: 17px;
}

#technologies p:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

#experience .experience-div {
    background-color: #fff;
    height: 280px;
    width: 300px;
    position: relative;
}

#experience .experience-div:hover {
    transform: scale(1.2, 1.2);
    transition: transform 1s;
}

@media (max-width: 768px) {
    #experience .experience-div:hover {
        transform: scale(1.1, 1.1);
        transition: transform 1s;
    }
}

#experience .experience-div .company-name {
    font-size: 1rem;
    font-weight: 800;
}

#experience .experience-div a {
    font-size: 0.9rem;
    text-decoration: none;
}

#experience .experience-div .position {
    font-size: 0.9rem;
}

#experience .experience-div .description {
    font-size: 0.8rem;
    margin-top: 10px;
}

#experience .experience-div .skills {
    font-size: 0.7rem;
    padding: 5px;
    margin: 2px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

#experience .experience-div .period {
    font-size: 0.5rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000;
    color: #fff;
    padding: 3px;
}

@media (max-width: 768px) {
    #experience .experience-div .company-name, #experience .experience-div a, #experience .experience-div .position {
        text-align: center;
    }
}



